.item
  padding: 1em

.side-content
  display: flex
  width: 350px
  height: 100%
  vertical-align: top

  .search-bar-container
    padding: 0 1em
    width: 100%
    border-bottom: 1px solid $blue
    font-size: 20px
    height: 3em
    color: $white1

    .search-bar
      width: 100%

      .mdl-textfield__expandable-holder
        display: flex
